#### Python basics
1. import modules
2. functions
    - lambda functions
3. if...elif...else
4. for...in loop
5. enumerate and zip

In [2]:
pwd

'E:\\DataScience\\Python'

In [3]:
import os

In [4]:
os.chdir("E:\\")

In [5]:
os.getcwd()

'E:\\'

In [6]:
os.chdir('E:\\DataScience\\Python')

In [7]:
pwd

'E:\\DataScience\\Python'

In [ ]:
## ipynb    file extension  .ipynb    interactive python notebook
import pandas as pd
pd?

In [10]:
## you don't want to import the entire module
from sklearn.linear_model import LinearRegression

In [ ]:
!pip install sklearn --upgrade

# function

In [11]:
def efg(x,y):
    z =x*y
    return z**2   # square of z

efg(5,6)

900

In [13]:
# the above function takes 2 arguments, what about if we don't know how many
# arguments are there?

def mysum(x):
    result = 0
    for i in x:
        result += i
    return result

list1 = [1,2,3,45]    # x= list1=[1,2,3]
mysum(list1)

51

In [17]:
# *args (* = unpacking)
def mysum(*abc):
    result = 0
    for i in abc:
        result += i
    return result

mysum(1,2,3,4,5,6)   #abc = 1,2,3,4,5,6

21

In [22]:
## **kwargs       keyword arguments
def concat(**hij):
    result = ""
    for i in hij.values():  # you get the values, not the keys.
        result += i
    return result

concat(a = "Real ", b= " Python",c= " is", d=" boring")
# hij = a="Real ", b=" Python", c= " is", d = " boring"

'Real  Python is boring'

### lambda funcation

In [25]:
## nameless function
(lambda x:x+1)(2)

3

In [26]:
(lambda x,y:x+y)(2,5)

7

In [27]:
add_two = lambda x:x+2
add_two(4)

6

In [ ]:
(lambda first, last: f'my name is {first} {last}') ("John", "James")
# labmda function,
# arguments: first, last = John, James
# f''     f-string formatting

in-class ex. Q.4
Define a function which returns the product of two numbers, name the function as “multiply”. Use the function to obtain the product of 3 and 10.

In [31]:
def multiply(*x):
    result = 1
    for i in x:
        result = result*i
    return result

multiply(3,10)

30

In [33]:
def multiply(x,y):
    return x*y
    
multiply(3,10)

30

In [35]:
a,b = 2,2
if a<b:
    print(a, " is less than", b)
elif a>b:
    print(a, " is greater than", b)
else:
    print (a, "is equal to", b)

2 is equal to 2

## two loops
- while loops (web crawling)
- for... in loops

In [36]:
for x in range(10):      # range is not a list, range is an iterator
    print(f'the number is {x}')  # f-string formatting

the number is 0
the number is 1
the number is 2
the number is 3
the number is 4
the number is 5
the number is 6
the number is 7
the number is 8
the number is 9

7. Create the following list
names = [("Thomson", "Alex"), ("Wright", "Bob"), ("White", "Carol"), ("Young", "Tim"), ("Payne", "Sam"), ("Brown", "Mary")]
The first element of each pair is the last name
Use a “for…in” loop to create a list of last names. 
You may also need  .append()

In [37]:
names = [("Thomson", "Alex"), ("Wright", "Bob"), 
         ("White", "Carol"), ("Young", "Tim"), ("Payne", "Sam"), 
         ("Brown", "Mary")]

last_names = []
for a,b in names:
    last_names.append(a)

last_names

['Thomson', 'Wright', 'White', 'Young', 'Payne', 'Brown']

### enumerate and zip functions

In [39]:
names = ["Mary", "John", "Peter"]
list(enumerate(names))    #enumerate will give you the index and the value

[(0, 'Mary'), (1, 'John'), (2, 'Peter')]

In [41]:
for i, name in enumerate(names):
    print (i, name)

0 Mary
1 John
2 Peter

In [44]:
### zip function
list1 = ['a','b','c']
list2 = [1,2,3]
zip(list1,list2)
enumerate(list1)

9. create the following list
names = ["Alice", "Bob", "Charlie", "Debbie", "John", "Sam", "Cathy", "Linda", "Yoyo"]
Find the name with more than 4 characters, print out the name and the corresponding index. (You need len() ,  which measures the length of a variable)

In [46]:
names = ["Alice", "Bob", "Charlie", 
         "Debbie", "John", "Sam", 
         "Cathy", "Linda", "Yoyo"]

for i,j in enumerate(names):
    if len(j) > 4:
        print (f'name {i} {j}')

name 0 Alice
name 2 Charlie
name 3 Debbie
name 6 Cathy
name 7 Linda

11. Create the following lists
first_name=["Mary","James","Peter","Yoyo"]
last_name=["Brown","White","Reed","Holt"]
Use “zip” function to combine the above two lists and create a list of pairs, with the first name and then the last name in each pair.

In [47]:
first_name=["Mary","James","Peter","Yoyo"]
last_name=["Brown","White","Reed","Holt"]

list(zip(first_name, last_name))

[('Mary', 'Brown'), ('James', 'White'), ('Peter', 'Reed'), ('Yoyo', 'Holt')]

### data structures
- list
- dict
- strings

In [48]:
list1 = [2,3,4,5,6]
len(list1)

5

In [49]:
list2 = ["a","b",[1,2,3], 3,4,5]

In [51]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [53]:
list1 = list(range(5))
list1

[0, 1, 2, 3, 4]

In [54]:
list1[0] = 100
list1

[100, 1, 2, 3, 4]

In [58]:
list1=list(range(5))
list1

[0, 1, 2, 3, 4]

In [59]:
list2 = list1.copy()
list2[0]=100
list1

[0, 1, 2, 3, 4]

In [60]:
x = 1,2,3,56  # a tuple, not a list

In [63]:
x = [1,2,3,56]   # x is a list 
y = 1,2,3,56     # y is a tuple

In [64]:
x[0] = 100
x

[100, 2, 3, 56]

In [65]:
y[0] = 100
y

TypeError: 'tuple' object does not support item assignment

In [66]:
x = [1,2,3,56]
x+1   ## no, list does not allow this opeartion

TypeError: can only concatenate list (not "int") to list

In [74]:
list1 = list(range(100))
print(list1[0])
print(list1[-1])    # last element
print(list1[1:5])    # from 2nd element to the 5th element
print(list1[90:-1])
print(list1[0::2])   # get all the even numbers

0
99
[1, 2, 3, 4]
[90, 91, 92, 93, 94, 95, 96, 97, 98]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

14.
Create a list of integers which are the squares of integers from 1 to 10. Sort the list in descending order.
Check if 25 and 45 are in the list or not. (use  25 in list1  to check)

In [76]:
list1 = [i**2 for i in range(1,11)]
list1
25 in list1

True

In [77]:
45 in list1

False

In [83]:
list1.sort()
list1.reverse()
list1

[100, 81, 64, 49, 36, 25, 16, 9, 4, 1]

15. Import the module random.
Use “np.random.randint(0,30,100)” to generate a list of 100 integers. Each integer is between 0 and 30. From this list, extract the integers divisible by 3 to create another list. Finally sort the list in ascending order.

In [85]:
import numpy as np
list1 = np.random.randint(0,30,100)
list2 = []   # empty list
for i in list1:
    if i%3 == 0:
        list2.append(i)
print(list2)
list2.sort()
## list2.reverse() for descending oder
print(list2)

[3, 21, 18, 15, 6, 15, 18, 6, 24, 3, 27, 27, 21, 18, 3, 12, 12, 27, 9, 15, 6, 15, 9, 12, 27, 24, 15, 27, 3]
[3, 3, 3, 3, 6, 6, 6, 9, 9, 12, 12, 12, 15, 15, 15, 15, 15, 18, 18, 18, 21, 21, 24, 24, 27, 27, 27, 27, 27]

### dictionary
- items = (keys, values)

In [86]:
dict1 ={"key1":1,
       "key2":2,
       "key3":3,
       "key4":4}

In [88]:
dict1.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3), ('key4', 4)])

In [89]:
dict1.values()

dict_values([1, 2, 3, 4])

In [90]:
dict1.keys()

dict_keys(['key1', 'key2', 'key3', 'key4'])

In [91]:
dict1['key3']

3

In [92]:
dict2 = {"Boston":"MA","Seattle":"WA","Chicago":"IL",
        "Miami":"Fl"}

In [93]:
dict2["Miami"]

'Fl'

In [94]:
dict3 = {"Name":"Peter","Age":50,"years of experience":20}
dict3["Age"]

50

In [95]:
for i in dict3.values():
    print(i)

Peter
50
20

17. Create the following output.
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
value is the square of the key.

In [96]:
{i:i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

16.
Create the following dict.
dict1 ={"Name" : ["John","Sam"],
        "Age": [45,50],
        "Income": [50000, 60000],
        "Children": [("Peter","Sam") , ("Tom","Mary")],
        "Years of experience":[16.5,20]}
There are two employees who are John and Sam.
Use “for…in” loop to print the information of John only. Then print the information of Sam only.

In [99]:
dict1 ={"Name" : ["John","Sam"],
        "Age": [45,50],
        "Income": [50000, 60000],
        "Children": [("Peter","Sam") , ("Tom","Mary")],
        "Years of experience":[16.5,20]}

for i,j in dict1.items():
    print(i, j[1])      # j[1] second element in each pair.

Name Sam
Age 50
Income 60000
Children ('Tom', 'Mary')
Years of experience 20

### strings

In [1]:
string1 = "MARKET"
len(string1)

6

In [2]:
string1[0]

'M'

In [3]:
string1[-1]

'T'

In [4]:
dict1 = {}
for i,j in enumerate(string1):
    dict1[i] = j

dict1

{0: 'M', 1: 'A', 2: 'R', 3: 'K', 4: 'E', 5: 'T'}

In [5]:
{v:k for k,v in sorted(dict1.items(), key=lambda abc:abc[1])}

{'A': 1, 'E': 4, 'K': 3, 'M': 0, 'R': 2, 'T': 5}

Step 1. Create an empty list, mean10, to store the mean of the random numbers.
Step 2. Create a list of 100 random numbers sampled from a standard normal distribution. (Use “np.random.randn(100)”)
Step 3. append the mean of the random numbers to the list, mean10.
Step 4. Use for … in loop to repeat step 2 and step 3 10 times. mean10 will become a list with 10 mean values.
Step 5. Do the same thing again but iterate 100 times. Store the 100 mean values in the list mean100.
Step 6. Do the same thing again but iterate 1000 times. Store the 1000 mean values in the list mean1000.

In [113]:
mean10 = []    #empty list
for i in range(10):     # iterate 10 times
    list1=np.random.randn(100)    # create a list of 100 numbers
    mean10.append(list1.mean())   
    # calculate the mean of 100 numbers and then append it to mean10
mean10      # each number is a mean of 100 random numbers

mean100 = []

for i in range(100):
    list1 = np.random.randn(100)
    mean100.append(list1.mean())
    
mean100  # there will be 100 numbers

[0.0659916864497318,
 -0.08997121292233025,
 0.11435420734106287,
 -0.17220532015776538,
 -0.05812803127725659,
 -0.04315237936885777,
 -0.05257923484651293,
 0.008045191998504871,
 0.01748207743747882,
 -0.0905182975877617,
 -0.06354367938787558,
 0.024635572826610413,
 0.151001677882727,
 0.05812794358175832,
 -0.08031405440482679,
 -0.08160360918137308,
 0.03332445300312031,
 0.1173616838359064,
 -0.1470289135366354,
 -0.1304349986570488,
 0.05235006162241227,
 -0.01797022995687804,
 -0.06418181976186978,
 -0.08131109634483444,
 -0.011220166036728617,
 -0.16151194994288395,
 0.06522828627761515,
 -0.12170349084466063,
 -0.04841740957097488,
 0.1518566853145826,
 0.1851478153146959,
 0.011334405767338627,
 -0.07864369042634319,
 -0.12047204915507592,
 -0.09696410258900619,
 0.06408964457258783,
 -0.023850583479822333,
 0.24283826367216765,
 0.10509046358233846,
 0.010908455308660628,
 0.13252038805987604,
 0.02171659888739458,
 -0.09108958659565991,
 0.09950269672890404,
 0.01927737422399616,
 -0.0181529179014057,
 0.0851544590742369,
 -0.15891468747603332,
 -0.0603927078068197,
 0.03518619338310175,
 0.06402908611694548,
 0.03533292910714061,
 0.057049295747263494,
 -0.013733250666571415,
 -0.037024706152694986,
 0.16793565277917527,
 0.029983530950720136,
 -0.09862279647085682,
 -0.1084628952614776,
 -0.029234984136167007,
 0.03117987259011052,
 -0.08422117903953566,
 -0.058549529218216316,
 -0.0766262672353257,
 0.32790195941508465,
 -0.03520851926479306,
 0.08935764432026864,
 -0.015928867627813596,
 0.02868046894712589,
 0.03245240969034046,
 -0.020559825116006732,
 0.0034916874938846014,
 0.18178457975047388,
 -0.1233269963244417,
 0.024001566208370448,
 0.22385941802766993,
 -0.16672462155442835,
 -0.04308783020139361,
 -0.06601278907808429,
 0.05358938924633134,
 -0.020212138637622966,
 0.27283747175485945,
 0.06348475298619177,
 -0.04331634890570496,
 0.03873500924349755,
 0.04644392318051574,
 0.05671543384524798,
 0.004995323818559605,
 -0.1382280291137756,
 -0.019382719928436227,
 -0.05686950876617228,
 0.05825689096892834,
 0.06353318927289618,
 0.059816137814153125,
 0.007897684112919993,
 -0.0009104274055714673,
 -0.1020362589783851,
 0.2392743617202196,
 0.04478080882646319,
 -0.03467310632123844]

Step 1: Create a mutliline_text variable by copying the text from the first chapter of Pride and Prejudice.
Step 2: Find the type and length of the multiline_text string.
Step 3: Remove all new lines and symbols using the replace function.
Step 4: Find all of the words in multiline_text using the split function.
Step 5: Convert all the words into lower case. 
Step 6: Create a list from this list that will contain only the unique words.
Step 7: Count the number of times the unique word has appeared in the list using the key and value in dict.
Step 8: Find the top 25 words from the unique words that you have found using the slice function.

In [114]:
multiline_text="""It is a truth universally acknowledged, that a single man in possession of a good fortune, must be in want of a wife.

However little known the feelings or views of such a man may be on his first entering a neighbourhood, this truth is so well fixed in the minds of the surrounding families, that he is considered the rightful property of some one or other of their daughters.

"My dear Mr. Bennet," said his lady to him one day, "have you heard that Netherfield Park is let at last?"

Mr. Bennet replied that he had not.

"But it is," returned she; "for Mrs. Long has just been here, and she told me all about it."

Mr. Bennet made no answer.

"Do you not want to know who has taken it?" cried his wife impatiently.

"You want to tell me, and I have no objection to hearing it."

This was invitation enough.

"Why, my dear, you must know, Mrs. Long says that Netherfield is taken by a young man of large fortune from the north of England; that he came down on Monday in a chaise and four to see the place, and was so much delighted with it, that he agreed with Mr. Morris immediately; that he is to take possession before Michaelmas, and some of his servants are to be in the house by the end of next week."

"What is his name?"

"Bingley."

"Is he married or single?"

"Oh! Single, my dear, to be sure! A single man of large fortune; four or five thousand a year. What a fine thing for our girls!"

"How so? How can it affect them?"

"My dear Mr. Bennet," replied his wife, "how can you be so tiresome! You must know that I am thinking of his marrying one of them."

"Is that his design in settling here?"

"Design! Nonsense, how can you talk so! But it is very likely that he may fall in love with one of them, and therefore you must visit him as soon as he comes."

"I see no occasion for that. You and the girls may go, or you may send them by themselves, which perhaps will be still better, for as you are as handsome as any of them, Mr. Bingley may like you the best of the party."

"My dear, you flatter me. I certainly have had my share of beauty, but I do not pretend to be anything extraordinary now. When a woman has five grown-up daughters, she ought to give over thinking of her own beauty."

"In such cases, a woman has not often much beauty to think of."

"But, my dear, you must indeed go and see Mr. Bingley when he comes into the neighbourhood."

"It is more than I engage for, I assure you."

"But consider your daughters. Only think what an establishment it would be for one of them. Sir William and Lady Lucas are determined to go, merely on that account, for in general, you know, they visit no newcomers. Indeed you must go, for it will be impossible for us to visit him if you do not."

"You are over-scrupulous, surely. I dare say Mr. Bingley will be very glad to see you; and I will send a few lines by you to assure him of my hearty consent to his marrying whichever he chooses of the girls; though I must throw in a good word for my little Lizzy."

"I desire you will do no such thing. Lizzy is not a bit better than the others; and I am sure she is not half so handsome as Jane, nor half so good-humoured as Lydia. But you are always giving her the preference."

"They have none of them much to recommend them," replied he; "they are all silly and ignorant like other girls; but Lizzy has something more of quickness than her sisters."

"Mr. Bennet, how can you abuse your own children in such a way? You take delight in vexing me. You have no compassion for my poor nerves."

"You mistake me, my dear. I have a high respect for your nerves. They are my old friends. I have heard you mention them with consideration these last twenty years at least."

"Ah, you do not know what I suffer."

"But I hope you will get over it, and live to see many young men of four thousand a year come into the neighbourhood."

"It will be no use to us, if twenty such should come, since you will not visit them."

"Depend upon it, my dear, that when there are twenty, I will visit them all."

Mr. Bennet was so odd a mixture of quick parts, sarcastic humour, reserve, and caprice, that the experience of three-and-twenty years had been insufficient to make his wife understand his character. Her mind was less difficult to develop. She was a woman of mean understanding, little information, and uncertain temper. When she was discontented, she fancied herself nervous. The business of her life was to get her daughters married; its solace was visiting and news. """

In [115]:
type(multiline_text)

str

In [116]:
len(multiline_text)

4475

In [117]:
### Step 3: Remove all new lines and symbols using the replace function.
multiline_text = multiline_text.replace("\n", "")
multiline_text

'It is a truth universally acknowledged, that a single man in possession of a good fortune, must be in want of a wife.However little known the feelings or views of such a man may be on his first entering a neighbourhood, this truth is so well fixed in the minds of the surrounding families, that he is considered the rightful property of some one or other of their daughters."My dear Mr. Bennet," said his lady to him one day, "have you heard that Netherfield Park is let at last?"Mr. Bennet replied that he had not."But it is," returned she; "for Mrs. Long has just been here, and she told me all about it."Mr. Bennet made no answer."Do you not want to know who has taken it?" cried his wife impatiently."You want to tell me, and I have no objection to hearing it."This was invitation enough."Why, my dear, you must know, Mrs. Long says that Netherfield is taken by a young man of large fortune from the north of England; that he came down on Monday in a chaise and four to see the place, and was so much delighted with it, that he agreed with Mr. Morris immediately; that he is to take possession before Michaelmas, and some of his servants are to be in the house by the end of next week.""What is his name?""Bingley.""Is he married or single?""Oh! Single, my dear, to be sure! A single man of large fortune; four or five thousand a year. What a fine thing for our girls!""How so? How can it affect them?""My dear Mr. Bennet," replied his wife, "how can you be so tiresome! You must know that I am thinking of his marrying one of them.""Is that his design in settling here?""Design! Nonsense, how can you talk so! But it is very likely that he may fall in love with one of them, and therefore you must visit him as soon as he comes.""I see no occasion for that. You and the girls may go, or you may send them by themselves, which perhaps will be still better, for as you are as handsome as any of them, Mr. Bingley may like you the best of the party.""My dear, you flatter me. I certainly have had my share of beauty, but I do not pretend to be anything extraordinary now. When a woman has five grown-up daughters, she ought to give over thinking of her own beauty.""In such cases, a woman has not often much beauty to think of.""But, my dear, you must indeed go and see Mr. Bingley when he comes into the neighbourhood.""It is more than I engage for, I assure you.""But consider your daughters. Only think what an establishment it would be for one of them. Sir William and Lady Lucas are determined to go, merely on that account, for in general, you know, they visit no newcomers. Indeed you must go, for it will be impossible for us to visit him if you do not.""You are over-scrupulous, surely. I dare say Mr. Bingley will be very glad to see you; and I will send a few lines by you to assure him of my hearty consent to his marrying whichever he chooses of the girls; though I must throw in a good word for my little Lizzy.""I desire you will do no such thing. Lizzy is not a bit better than the others; and I am sure she is not half so handsome as Jane, nor half so good-humoured as Lydia. But you are always giving her the preference.""They have none of them much to recommend them," replied he; "they are all silly and ignorant like other girls; but Lizzy has something more of quickness than her sisters.""Mr. Bennet, how can you abuse your own children in such a way? You take delight in vexing me. You have no compassion for my poor nerves.""You mistake me, my dear. I have a high respect for your nerves. They are my old friends. I have heard you mention them with consideration these last twenty years at least.""Ah, you do not know what I suffer.""But I hope you will get over it, and live to see many young men of four thousand a year come into the neighbourhood.""It will be no use to us, if twenty such should come, since you will not visit them.""Depend upon it, my dear, that when there are twenty, I will visit them all."Mr. Bennet was so odd a mixture of quick parts, sarcastic humour, reserve, and caprice, that the experience of three-and-twenty years had been insufficient to make his wife understand his character. Her mind was less difficult to develop. She was a woman of mean understanding, little information, and uncertain temper. When she was discontented, she fancied herself nervous. The business of her life was to get her daughters married; its solace was visiting and news. '

In [120]:
cleaned_line = ""   ## empty string
for i in multiline_text:
    if i == " ":
        cleaned_line += i
    elif i.isalnum():
        cleaned_line += i
    else:
        cleaned_line += " "
cleaned_line = cleaned_line.lower()
cleaned_line

'it is a truth universally acknowledged  that a single man in possession of a good fortune  must be in want of a wife however little known the feelings or views of such a man may be on his first entering a neighbourhood  this truth is so well fixed in the minds of the surrounding families  that he is considered the rightful property of some one or other of their daughters  my dear mr  bennet   said his lady to him one day   have you heard that netherfield park is let at last  mr  bennet replied that he had not  but it is   returned she   for mrs  long has just been here  and she told me all about it  mr  bennet made no answer  do you not want to know who has taken it   cried his wife impatiently  you want to tell me  and i have no objection to hearing it  this was invitation enough  why  my dear  you must know  mrs  long says that netherfield is taken by a young man of large fortune from the north of england  that he came down on monday in a chaise and four to see the place  and was so much delighted with it  that he agreed with mr  morris immediately  that he is to take possession before michaelmas  and some of his servants are to be in the house by the end of next week   what is his name   bingley   is he married or single   oh  single  my dear  to be sure  a single man of large fortune  four or five thousand a year  what a fine thing for our girls   how so  how can it affect them   my dear mr  bennet   replied his wife   how can you be so tiresome  you must know that i am thinking of his marrying one of them   is that his design in settling here   design  nonsense  how can you talk so  but it is very likely that he may fall in love with one of them  and therefore you must visit him as soon as he comes   i see no occasion for that  you and the girls may go  or you may send them by themselves  which perhaps will be still better  for as you are as handsome as any of them  mr  bingley may like you the best of the party   my dear  you flatter me  i certainly have had my share of beauty  but i do not pretend to be anything extraordinary now  when a woman has five grown up daughters  she ought to give over thinking of her own beauty   in such cases  a woman has not often much beauty to think of   but  my dear  you must indeed go and see mr  bingley when he comes into the neighbourhood   it is more than i engage for  i assure you   but consider your daughters  only think what an establishment it would be for one of them  sir william and lady lucas are determined to go  merely on that account  for in general  you know  they visit no newcomers  indeed you must go  for it will be impossible for us to visit him if you do not   you are over scrupulous  surely  i dare say mr  bingley will be very glad to see you  and i will send a few lines by you to assure him of my hearty consent to his marrying whichever he chooses of the girls  though i must throw in a good word for my little lizzy   i desire you will do no such thing  lizzy is not a bit better than the others  and i am sure she is not half so handsome as jane  nor half so good humoured as lydia  but you are always giving her the preference   they have none of them much to recommend them   replied he   they are all silly and ignorant like other girls  but lizzy has something more of quickness than her sisters   mr  bennet  how can you abuse your own children in such a way  you take delight in vexing me  you have no compassion for my poor nerves   you mistake me  my dear  i have a high respect for your nerves  they are my old friends  i have heard you mention them with consideration these last twenty years at least   ah  you do not know what i suffer   but i hope you will get over it  and live to see many young men of four thousand a year come into the neighbourhood   it will be no use to us  if twenty such should come  since you will not visit them   depend upon it  my dear  that when there are twenty  i will visit them all  mr  bennet was so odd a mixture of quick parts  sarcastic humour  reserve  and caprice  that the experience of three and twenty years had been insufficient to make his wife understand his character  her mind was less difficult to develop  she was a woman of mean understanding  little information  and uncertain temper  when she was discontented  she fancied herself nervous  the business of her life was to get her daughters married  its solace was visiting and news  '