# Assignment 5-b
## Loan Pham and Brandan Owens

In [40]:
#q.1 Load dataset "tips.csv"
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.read_csv("../dataFiles/tips.csv")
df.head(5)

   total_bill   tip smoker  day    time  size
0       16.99  1.01     No  Sun  Dinner     2
1       10.34  1.66     No  Sun  Dinner     3
2       21.01  3.50     No  Sun  Dinner     3
3       23.68  3.31     No  Sun  Dinner     2
4       24.59  3.61     No  Sun  Dinner     4

In [41]:
#q.1.a Create a dataframe, party_count, by counting the party size for each day of a week.
party_count = df.groupby(['day', 'size'])['size'].count()
party_count

day   size
Fri   1        1
      2       16
      3        1
      4        1
Sat   1        2
      2       53
      3       18
      4       13
      5        1
Sun   2       39
      3       15
      4       18
      5        3
      6        1
Thur  1        1
      2       48
      3        4
      4        5
      5        1
      6        3
Name: size, dtype: int64

In [42]:
#q.1.b Since there are not many parties with 1 person or 6 people, drop the party sizes of 1 and 6 from party_count.
party_count.drop(index = 6, level = 1, inplace = True)
party_count.drop(index = 1, level = 1, inplace = True)
party_count

day   size
Fri   2       16
      3        1
      4        1
Sat   2       53
      3       18
      4       13
      5        1
Sun   2       39
      3       15
      4       18
      5        3
Thur  2       48
      3        4
      4        5
      5        1
Name: size, dtype: int64

In [43]:
#q.1.c Normalize it so that the percentages of party size sum to 1 for each day. Then create a bar plot.

In [44]:
#q.1.d From the original dataframe, create a column of tipping percentage which is given by the following formula: tip_pct = tip / (total bill â€“ tip). Create a bar plot of the tipping percentage by day.

In [45]:
#q.1.e Create a bar plot of the tipping percentage by day and lunch/dinner.

In [46]:
#q.1.f Plot the tipping percentage by day and lunch/dinner with seaborn for non-smokers. On the same figure, plot the tipping percentage by day and lunch/dinner for smokers.

In [47]:
#q.1.g Create a density plot for tipping percentage for lunch. Create a density plot for tipping percentage for dinner on the same figure.

In [48]:
#q.2 Load the dataset 'diamonds.csv'
df2 = pd.read_csv("../dataFiles/diamonds.csv")
df2.head(5)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [49]:
#q.2.a Create a bar plot of different cuts.

In [50]:
#q.2.b Create a stacked bar plot of cuts vs. clarity.

In [51]:
#q.2.c Plot a histogram using 'carat'.

In [52]:
#q.2.d Make density plots on 'carat' against 'cut'.

In [53]:
#q.2.e Make scatter plots to show the relationship between 'carat' and 'price'. Mark different 'cut' with separate colors.

In [54]:
#q.2.f Create a heatmap using 'cut' and 'color' use cmap="Greens".

In [55]:
#q.2.g Create a bar plot using 'cut' and 'color'.